.card{
    background-color: #205781;
    padding: 30px;
    border-radius:10%;
    text-align: center;
    width:20%;
    height: 350px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    color: #fff;
    margin: 5px auto;
   
}
.card img{
    width: 100%;
    align-items: center;
    height: 70%;
    object-fit: cover;
}

.card a{
    color: #fff;
    text-decoration: none;
    justify-content: space-around;
    width: 20px;
    height: 20px;
}