.poliza-oferta {
  text-align: center;
  color: #4a5a63;
  font-size: 25px;
  line-height: 1.7;
  font-family: 'Times New Roman', Times, serif;   
}

.cards-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #dfdede;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 400px;
  flex: 1 1 300px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #1f2937;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card ul li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  color: #4b5563;
}

.check-icon {
  color: #10b981;
  font-weight: bold;
}


.condiciones-poliza p {
  font-size: 16px;
  line-height: 1.7;
}