.responsabilidad-civil {
  text-align: center;
  color: #4a5a63;
  font-size: 25px;
  padding: 20px;
  line-height: 1.7;
  font-family: 'Times New Roman', Times, serif;
}

.condiciones-poliza {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #3e4b52;
  padding: 20px;
}

.condiciones-poliza h2 {
  font-size: 28px;
  margin-bottom: 5px;
  color: #1d1d1f;
}

.linea-subrayado {
  width: 40px;
  height: 2px;
  background-color: #1d1d1f;
  margin-bottom: 30px;
}

.condiciones-poliza p {
  font-size: 16px;
  line-height: 1.7;
}