.seguro-educativo {
  padding: 40px;
  background-color: #f3f7fd;
  border-radius: 15px;
  font-family: Arial, sans-serif;
}

.seguro-educativo h2 {
  font-size: 30px;
  color: #002d72;
}

.seguro-educativo h3 {
  font-size: 22px;
  margin-top: 30px;
  color: #003b80;
}

.seguro-educativo p,
.seguro-educativo li {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.seguro-educativo ul {
  margin-top: 15px;
  padding-left: 20px;
}

.destacado {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

/* Estilo para redes sociales */
.redes-sociales {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.cards-educacion {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px !important;
  max-width: 350px;
  padding: 20px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card h4 {
  font-size: 18px;
  color: #002d72;
  margin: 0;
}

.card p {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}

.card:hover {
  transform: translateY(-5px);
}