

/* Logo */
.logo img {
  height: 80px;
}

.seguro-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-section {
  position: relative;
  flex: 1;
  background: url('https://images.unsplash.com/photo-1504151932400-72d4384f04b3?fit=crop&w=1200&q=80') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 60px;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.left-section::before {
  content: "";
  position: absolute;
  inset: 0; /* igual a top: 0; right: 0; bottom: 0; left: 0 */
  background-color: rgba(0, 0, 0, 0.5); /* filtro oscuro */
  z-index: 1;
}

.left-section h1 {
  font-size: 3rem;
  line-height: 1.2;
  position: relative;
  z-index: 2;
}

.right-section {
  flex: 1;
  background-color: #091583;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}



.right-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
}


@media (max-width: 768px) {
  .seguro-container {
    flex-direction: column;
    height: auto;
  }

  .left-section, .right-section {
    flex: none;
    height: 50vh;
    padding: 20px;
  }

  .left-section h1 {
    font-size: 2rem;
  }
}

.coberturas h2 {
  font-size: 2rem;
  border-left: 3px solid #000;
  padding-left: 10px;
  margin-bottom: 30px;
  color: #2c2c2c;
}

.cobertura-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.check-icon {
  color: #84c225; /* verde suave */
  font-size: 1.5rem;
  margin-right: 10px;
  margin-top: 5px;
}

.cobertura-info h3 {
  font-size: 1.2rem;
  color: #374151;
  margin-bottom: 8px;
}

.cobertura-info p {
  font-size: 1rem;
  color: #4b5563;
  margin: 0;
}

.subtitulo {
  font-size: 1.7rem;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #2c2c2c;
}

.descripcion-adicional {
  font-size: 1rem;
  color: #4b5563;
}

.coberturas-adicionales {
  padding: 20px;
  max-width: 600px;
  font-family: Arial, sans-serif;
  color: #2e3b3f;
}

.coberturas-adicionales h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.coberturas-adicionales p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.lista-coberturas {
  list-style: none;
  padding-left: 0;
}

.lista-coberturas li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.4;
}

.lista-coberturas .check {
  color: #76b82a; /* verde */
  font-size: 1.2rem;
  margin-right: 10px;
  line-height: 1.4;
  margin-top: 2px;
}

.ventajas {
  display:flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content:center;
  padding-top:20px;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.card {
  background-color: #cbdae9;
  border-radius: 10px;
  padding: 30px 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;

}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #044f9b;
}

.card p {
  font-size: 0.95rem;
  color: #4a5a6a;
  line-height: 1.4;
}